@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.btn {
    @apply bg-opacity-0 text-black items-center justify-center min-w-fit w-64 py-2 px-4 border rounded-sm border-black hover:bg-black hover:text-white hover:bg-opacity-100 ease-in duration-200
}

.btn-light {
    @apply bg-opacity-0 text-white items-center justify-center min-w-fit w-64 py-2 px-4 border rounded-sm border-white hover:bg-white hover:bg-opacity-100 hover:text-black ease-in duration-200

}
.arrow{
    @apply group-hover:opacity-0 group-hover:absolute
}

.arrow-alt{
    @apply hidden group-hover:block
}
.Button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    /* border: 1px solid #fff; */
}
/* .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    border: 1px solid #fff;
} */
