*{
    padding: 0px;
    margin: 0px;
}
/* ------------about us section-------------------------- */
.heroText-wrapper{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width:70% ;
}
.heroText-wrapper h2{
    color: #000;
    text-align: center;
    margin-top: 25px;
    font-family: Lora;
    font-size: clamp(1.68rem,4.0vw,3.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

/* Our company profile button */
.CTA-btt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    
}
.CTA-btt button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.8px solid black;
    padding: 10px 14px;
    border-radius: 5px;
    color: #000;
    background-color: none;
    text-decoration: none;
    text-align: center;
    font-family: Lora;
    font-size: clamp(0.8rem,2vw,1rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link{
    color: black;
    text-decoration: none;


}
/* ---------------- image ------------------ */
.two-men-image{
    width: 100%;
    /* height: 60vh; */
    aspect-ratio: auto;
    position: relative;
    top:50px;
    object-fit: cover;
}
/* ------------------our story section------------------- */

.ourStory-wrapper{
    background-color: #B5D2C1;  
    display: flex;
    flex-direction: row;
    top: 30px;
    position: relative;
    padding: 120px;
    margin-bottom: 50px;

/* ------------------------right wrapper-------------------   */
}
.right-wrapper{
    position: relative;
    width: 50%;
    margin-right: 20px;

}
.right-wrapper .title{

    display: flex;
    flex-direction: column;
}
.title hr{
    width: 155px;
    height: 2.8px;
    position: relative;
    margin-top: 20px;
    background-color: #000;
    align-self: safe;

}
.right-wrapper h2{
    color: #000;
    font-family: Lora;
    font-size: clamp(3rem,8vw,20rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;

    
}
.paragraphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:15px ;
    margin-left: 20px;

}
.paragraphs p:nth-child(2){
    margin-bottom: 70px;
}
.right-wrapper p{
    color: #000;
    font-family: calibri;
    font-size: clamp(1em,1.3em,3.3em);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-top: 50px;
    margin-left: 10px;
}

/* -------------left wrapper----------------- */
.left-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 20px;

}
.left-wrapper .jsweblogo{
    position: relative;
    top: 20%;


}
.left-wrapper p{
    color: #000;
    font-family: calibri;
    font-size: clamp(0.8em,1.3em,3.3em);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 25%;


}
/* ------------------------------------- small phone responsiveness ------------------------------------- */
@media (min-width:0px) and (max-width: 430px) {
    .heroText-wrapper{
        width: 90%;

    }
    .heroText-wrapper h2{
        width: 90%;
    }
    .two-men-image{
        object-fit:fill;
        width: 100%;

    }
    .ourStory-wrapper{
        padding: 0%;
        flex-direction: column;
    }
    .right-wrapper , .left-wrapper{
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .ourStory{
        text-align: center;
        margin-top: 30px;
    }
    .underline{
        position: relative;
        width: 1px;
        margin: auto;
    }
    .paragraphs{
        margin: auto;
    }
    .right-wrapper p{
        margin: 20px;
        text-align: justify;
    
    }
    .left-wrapper p{
        margin: 20px;
        text-align: justify;
    }

}
/* ----------------------------------------- tablet responsiveness ------------------------------------------- */
@media (min-width:431px) and (max-width: 900px) {
    .heroText-wrapper{
        width: 90%;

    }
    .heroText-wrapper h2{
        width: 90%;
    }
    .two-men-image{
        object-fit:fill;
        width: 100%;
        height: fit-content;
    }
    .ourStory-wrapper{
        padding: 10px;
        flex-direction: row;
    }
    .right-wrapper , .left-wrapper{
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .ourStory{
        text-align: center;
        margin-top: 30px;
    }
    .underline{
        position: relative;
        width: 1px;
        margin: auto;
    }
    .paragraphs{
        margin: auto;
    }
    .right-wrapper p{
        margin: 20px;
        text-align: justify;
    
    }
    .left-wrapper p{
        margin: 20px;
        text-align: justify;
    }

}