
.button{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* margin-top:45px auto; */
    margin: 20vh auto;
    border: 1px solid #fff;
    border-radius: 5px;
    /* width: clamp(50%,30%,50%); */
    width: max-content;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 10px 14px;
    font-size: clamp(0.8rem,2vw,1rem);
    color: #fff;
}
.button img{
    margin-left: 10px;
}
