@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 45px;
    border: 1px solid #fff;
    font-family: calibri;
    font-weight: 300;
    font-size: clamp(0.8rem,2vw,1rem);
}